flows.json
[{"id":"5b3dcaa9.978cf4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e0e70655.66cb68","type":"watson-conversation-v1","z":"5b3dcaa9.978cf4","name":"","workspaceid":"85d30bcd-4716-435d-96dd-17625fa2e6a6","multiuser":false,"context":true,"empty-payload":true,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/b9335cf7-aa20-4e46-8fc9-a0fa2f777e1f","timeout":"","optout-learning":false,"x":220,"y":180,"wires":[["470aea12.e3c1e4","626430b8.69737","9b0b2f82.83cc6"]]},{"id":"529e85e7.42f84c","type":"ui_text","z":"5b3dcaa9.978cf4","group":"a1025934.21efb8","order":2,"width":6,"height":1,"name":"bot response","label":"","format":"Bot :{{msg.o}}","layout":"row-left","x":730,"y":340,"wires":[]},{"id":"470aea12.e3c1e4","type":"debug","z":"5b3dcaa9.978cf4","name":"assistOutput","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":60,"wires":[]},{"id":"626430b8.69737","type":"function","z":"5b3dcaa9.978cf4","name":"extractNormalOutput","func":"\n\nif(!msg.payload.entities[0])\n{ \nmsg.o = msg.payload.output.text[0] ; \n}\nelse\n{\n    msg.o= 'Check out my knowledge arena, I have searched the mannual for you!!!';\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["529e85e7.42f84c","12892df6.81b2c2"]]},{"id":"12892df6.81b2c2","type":"debug","z":"5b3dcaa9.978cf4","name":"userendOutput","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":280,"wires":[]},{"id":"df1bd63c.fefd38","type":"ui_form","z":"5b3dcaa9.978cf4","name":"","label":"","group":"908fda24.3768c8","order":2,"width":0,"height":0,"options":[{"label":"Your good name","value":"fname","type":"text","required":true,"rows":null},{"label":"Shoot me with your questions","value":"query","type":"text","required":true,"rows":null}],"formValue":{"fname":"","query":""},"payload":"","submit":"submit","cancel":"cancel","topic":"Remember there can be only bot and that's me :)","x":50,"y":480,"wires":[["56b6a2b1.a6bb2c","7ee94b59.d84174","19b0d08f.c528df"]]},{"id":"56b6a2b1.a6bb2c","type":"debug","z":"5b3dcaa9.978cf4","name":"formOutput","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":520,"wires":[]},{"id":"2e906b72.abc7e4","type":"ui_text","z":"5b3dcaa9.978cf4","group":"908fda24.3768c8","order":1,"width":6,"height":1,"name":"","label":"","format":"Remember there can be only one bot and that's me :)","layout":"row-center","x":70,"y":560,"wires":[]},{"id":"1f13135d.5e9a3d","type":"ui_text","z":"5b3dcaa9.978cf4","group":"a1025934.21efb8","order":1,"width":6,"height":1,"name":"name tag","label":"","format":"{{msg.use}} {{msg.i}}","layout":"row-left","x":620,"y":440,"wires":[]},{"id":"7ee94b59.d84174","type":"function","z":"5b3dcaa9.978cf4","name":"extractName","func":"msg.use = msg.payload.fname +' :';\nmsg.i=msg.payload.query;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":460,"wires":[["1f13135d.5e9a3d"]]},{"id":"19b0d08f.c528df","type":"function","z":"5b3dcaa9.978cf4","name":"extractQuery","func":"msg.payload=msg.payload.query;\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":300,"wires":[["e0e70655.66cb68"]]},{"id":"d40a72ca.c6046","type":"ui_text","z":"5b3dcaa9.978cf4","group":"4f8edce9.ff3f04","order":1,"width":6,"height":"11","name":"Top 1","label":"","format":"{{msg.a}}","layout":"row-left","x":710,"y":120,"wires":[]},{"id":"9b0b2f82.83cc6","type":"function","z":"5b3dcaa9.978cf4","name":"extractSearchOutput","func":"\nif(msg.payload.entities[0])\n{\nmsg.a = msg.payload.context.webhook_result_1.results[0].text  ; \n//msg.b = msg.payload.context.webhook_result_1.results[1].text ; \n//msg.c = msg.payload.context.webhook_result_1.results[2].text \nmsg.val=msg.payload.context.webhook_result_1.matching_results;   \nmsg.h=msg.payload.context.webhook_result_1.results[0].subtitle[0];\nmsg.g=msg.payload.context.webhook_result_1.results[0].extracted_metadata.filename + '\\n';\n    \n}    \nelse\n{\n    msg.a=msg.b=msg.c=\"Waiting to search\";\n    msg.g=\"None\";\n    msg.h=\"None\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":180,"wires":[["e1029ca7.e44f8","d40a72ca.c6046","f326c653.215348","777fe283.7beacc"]]},{"id":"e1029ca7.e44f8","type":"debug","z":"5b3dcaa9.978cf4","name":"userEndSearchOutput","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"a","targetType":"msg","x":680,"y":60,"wires":[]},{"id":"f326c653.215348","type":"ui_gauge","z":"5b3dcaa9.978cf4","name":"","group":"1325a79a.8dea68","order":1,"width":"5","height":"5","gtype":"donut","title":"gauge","label":"matching results","format":"{{msg.val}}","min":0,"max":"118","colors":["#008080","#8080ff","#800080"],"seg1":"","seg2":"","x":730,"y":160,"wires":[]},{"id":"5c84be4b.47e33","type":"ui_slider","z":"5b3dcaa9.978cf4","name":"","label":"Slide to Rate","tooltip":"","group":"c472ffdc.ae11f","order":1,"width":6,"height":3,"passthru":true,"outs":"end","topic":"","min":0,"max":"5","step":"0.1","x":250,"y":380,"wires":[["ae24e9f9.e597b8"]]},{"id":"ae24e9f9.e597b8","type":"function","z":"5b3dcaa9.978cf4","name":"rating ","func":"if(msg.payload>=3.0&&msg.payload<=4.0)\n{\n    msg.o=\"Will try better next time\";\n}\nelse if(msg.payload>4.0)\n{\n    msg.o=\"Feelin so energetic....Thank you.Always in your favour\";\n}\nelse\n{\n    msg.o=\"Sorry hopping to be in your good books...atleast next time\";\n}\nmsg.i=\"You have given a rating of \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":360,"wires":[["529e85e7.42f84c","1f13135d.5e9a3d"]]},{"id":"777fe283.7beacc","type":"ui_text","z":"5b3dcaa9.978cf4","group":"1325a79a.8dea68","order":5,"width":"0","height":"0","name":"results_metadata","label":"","format":"Document loaded : {{msg.g}}  Subtitle : {{msg.h}}","layout":"row-left","x":750,"y":220,"wires":[]},{"id":"a1025934.21efb8","type":"ui_group","z":"","name":"BOTx","tab":"9344a4c9.151ed8","order":2,"disp":true,"width":"6","collapse":true},{"id":"908fda24.3768c8","type":"ui_group","z":"","name":"Question Panel","tab":"9344a4c9.151ed8","order":1,"disp":true,"width":"6","collapse":true},{"id":"4f8edce9.ff3f04","type":"ui_group","z":"","name":"Memory Base","tab":"9344a4c9.151ed8","order":3,"disp":true,"width":"6","collapse":true},{"id":"1325a79a.8dea68","type":"ui_group","z":"","name":"Analytics","tab":"9344a4c9.151ed8","order":4,"disp":true,"width":"6","collapse":false},{"id":"c472ffdc.ae11f","type":"ui_group","z":"","name":"Rate Us!!!","tab":"9344a4c9.151ed8","order":5,"disp":true,"width":"6","collapse":false},{"id":"9344a4c9.151ed8","type":"ui_tab","z":"","name":"ChatterBox","icon":"dashboard","order":2,"disabled":false,"hidden":false}]